<header>
    <h1>My Fav Places</h1>
</header>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIHQhBR6jUxfqkbZQBIPxKvQOnQ1zWCL0&callback=initMap" async defer></script>
<input type="checkbox" name="location" value="yes" id="yo"> Gastown<br>
